<nav class="nav">
    <div class="nav__content">
      <div class="hamburger__container">
        <div class="hamburger"></div>
      </div>
      <div class="nav__links">
        <ul class="nav__list">
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">The works</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Flyout</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__list-item" id="mega-menu-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Mega menu</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content" id="mega-menu">
              <div class="side-menu">
                <div class="categories__container">
                  <div class="category">
                    <div class="category__details selected">
                      <div class="category__icon">
                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M18 3V5H16V3H8V5H6V3H4V21H6V19H8V21H16V19H18V21H20V3H18ZM8 17H6V15H8V17ZM8 13H6V11H8V13ZM8 9H6V7H8V9ZM18 17H16V15H18V17ZM18 13H16V11H18V13ZM18 9H16V7H18V9Z"
                            fill="#000"
                          />
                        </svg>
                      </div>

                      <h3 class="category__name">Movies</h3>
                      <div class="category__arrow">
                        <svg
                          width="4"
                          height="6"
                          viewBox="0 0 4 6"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1.00001 0L0.295013 0.705L2.58501 3L0.295013 5.295L1.00001 6L4.00001 3L1.00001 0Z"
                            fill="#828282"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="category__content" id="movies__content">
                      <a href="#"
                        ><img
                          src="./content/images/main-poster.png"
                          alt="Featured movie"
                          class="category__content-image"
                      /></a>
                      <div class="category__content-suggestions">
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Best sellers</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">The Hunger Games</a>
                          <a href="#" class="suggestion">American Hustle</a>
                          <a href="#" class="suggestion">Frozen</a>
                          <a href="#" class="suggestion">Gravity</a>
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Drama</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">The Departer</a>
                          <a href="#" class="suggestion"
                            >The Wolf of Wall Street</a
                          >
                          <a href="#" class="suggestion"
                            >The Shawshank Redemption</a
                          >
                          <a href="#" class="suggestion"
                            >Saving Private Ryan</a
                          >
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">SciFi/Fantasy</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">Inception</a>
                          <a href="#" class="suggestion">The Hobbit</a>
                          <a href="#" class="suggestion"
                            >The Empire Strikes Back</a
                          >
                          <a href="#" class="suggestion">The Dark Knight</a>
                          <a href="#" class="suggestion"
                            >Terminator 2: Judgement Day</a
                          >
                          <a href="#" class="suggestion">Jurassic Park</a>
                          <a href="#" class="suggestion"
                            >X-Men: First Class</a
                          >
                        </div>
                      </div>
                      <div class="category__next-content">
                        <a href="#">
                          <img
                            src="./content/images/second-poster.png"
                            alt="Next Movie"
                            class="next-content__image"
                          />
                          <div class="next-content__banner">
                            <img
                              src="./content/images/banner.png"
                              alt="banner"
                              class="banner"
                            />
                        </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category">
                    <div class="category__details">
                      <div class="category__icon">
                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12 1C7.03 1 3 5.03 3 10V17C3 18.66 4.34 20 6 20H9V12H5V10C5 6.13 8.13 3 12 3C15.87 3 19 6.13 19 10V12H15V20H18C19.66 20 21 18.66 21 17V10C21 5.03 16.97 1 12 1Z"
                            fill="#828282"
                          />
                        </svg>
                      </div>

                      <h3 class="category__name">Music</h3>
                      <div class="category__arrow">
                        <svg
                          width="4"
                          height="6"
                          viewBox="0 0 4 6"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1.00001 0L0.295013 0.705L2.58501 3L0.295013 5.295L1.00001 6L4.00001 3L1.00001 0Z"
                            fill="black"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="category__content">
                      <a href="#"
                        ><img
                          src="./content/images/music-poster.jpg"
                          alt="Featured movie"
                          class="category__content-image"
                      /></a>
                      <div class="category__content-suggestions">
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Best sellers</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion"
                            >Rock Around the Clock</a
                          >
                          <a href="#" class="suggestion">We Are the World</a>
                          <a href="#" class="suggestion">Rock Your Baby</a>
                          <a href="#" class="suggestion">Silent Night</a>
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Rock</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">Spit It Out</a>
                          <a href="#" class="suggestion">Sad But True</a>
                          <a href="#" class="suggestion">Decadence</a>
                          <a href="#" class="suggestion">The Vengeful One</a>
                          <a href="#" class="suggestion">Heretic</a>
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Rock Bands</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">Metallica</a>
                          <a href="#" class="suggestion">Slipknot</a>
                          <a href="#" class="suggestion">Korn</a>
                          <a href="#" class="suggestion">Disturbed</a>
                          <a href="#" class="suggestion">Whitechapel</a>
                          <a href="#" class="suggestion">Jinjer</a>
                          <a href="#" class="suggestion">Mudvayne</a>
                          <a href="#" class="suggestion">Queen</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="category">
                    <div class="category__details">
                      <div class="category__icon">
                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M21 3.5C19.89 3.15 18.67 3 17.5 3C15.55 3 13.45 3.4 12 4.5C10.55 3.4 8.45 3 6.5 3C4.55 3 2.45 3.4 1 4.5V19.15C1 19.4 1.25 19.65 1.5 19.65C1.6 19.65 1.65 19.6 1.75 19.6C3.1 18.95 5.05 18.5 6.5 18.5C8.45 18.5 10.55 18.9 12 20C13.35 19.15 15.8 18.5 17.5 18.5C19.15 18.5 20.85 18.8 22.25 19.55C22.35 19.6 22.4 19.6 22.5 19.6C22.75 19.6 23 19.35 23 19.1V4.5C22.4 4.05 21.75 3.75 21 3.5ZM21 17C19.9 16.65 18.7 16.5 17.5 16.5C15.8 16.5 13.35 17.15 12 18V6.5C13.35 5.65 15.8 5 17.5 5C18.7 5 19.9 5.15 21 5.5V17Z"
                            fill="#828282"
                          />
                          <path
                            d="M17.5 9C18.38 9 19.23 9.09 20 9.26V7.74C19.21 7.59 18.36 7.5 17.5 7.5C15.8 7.5 14.26 7.79 13 8.33V9.99C14.13 9.35 15.7 9 17.5 9Z"
                            fill="#828282"
                          />
                          <path
                            d="M13 10.99V12.65C14.13 12.01 15.7 11.66 17.5 11.66C18.38 11.66 19.23 11.75 20 11.92V10.4C19.21 10.25 18.36 10.16 17.5 10.16C15.8 10.16 14.26 10.46 13 10.99Z"
                            fill="#828282"
                          />
                          <path
                            d="M17.5 12.83C15.8 12.83 14.26 13.12 13 13.66V15.32C14.13 14.68 15.7 14.33 17.5 14.33C18.38 14.33 19.23 14.42 20 14.59V13.07C19.21 12.91 18.36 12.83 17.5 12.83Z"
                            fill="#828282"
                          />
                        </svg>
                      </div>

                      <h3 class="category__name">Books</h3>
                      <div class="category__arrow">
                        <svg
                          width="4"
                          height="6"
                          viewBox="0 0 4 6"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1.00001 0L0.295013 0.705L2.58501 3L0.295013 5.295L1.00001 6L4.00001 3L1.00001 0Z"
                            fill="#828282"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="category__content">
                      <a href="#"
                        ><img
                          src="./content/images/book-poster.jpg"
                          alt="Featured movie"
                          class="category__content-image"
                      /></a>
                      <div class="category__content-suggestions">
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Best sellers</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">The Hobbit</a>
                          <a href="#" class="suggestion">A Tale of Two Cities</a>
                          <a href="#" class="suggestion">The Little Prince</a>
                          <a href="#" class="suggestion">Harry Potter and the Philosopher's Stone</a>
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Drama</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">A Raisin in the Sun/a>
                          <a href="#" class="suggestion"
                            >One True Loves: A Novel</a
                          >
                          <a href="#" class="suggestion"
                            >Love on the Brain</a
                          >
                          <a href="#" class="suggestion"
                            >Hamlet</a
                          >
                        </div>
                        <div class="suggestions__container">
                          <h3 class="suggestion__heading">Fantasy</h3>
                          <span class="line"></span>
                          <a href="#" class="suggestion">The Sandman</a>
                          <a href="#" class="suggestion">Artemis</a>
                          <a href="#" class="suggestion"
                            >The Alchemist</a
                          >
                          <a href="#" class="suggestion">Dune</a>
                          <a href="#" class="suggestion"
                            >The Death Witch</a
                          >
                          <a href="#" class="suggestion">Warbreaker</a>
                          <a href="#" class="suggestion"
                            >Sun crossed</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Images</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Advanced</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Tabs</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__list-item">
            <div class="nav__list-description">
              <p class="nav__list-text">Dynamic</p>
              <img
                class="nav__list-image"
                src="./content/icons/arrow-menu.svg"
                alt="arrow"
              />
            </div>
            <div class="nav__list-content">
              <ul class="nav__list-second">
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem ipsum</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#">Lorem</a>
                </li>
                <li class="nav__list-second-item">
                  <a class="nav__list-second-link" href="#"
                    >Lorem ipsum dolor</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="nav__icons">
        <a href="#">
          <img
            src="./content/icons/logout.svg"
            alt="logout"
            class="nav__icon"
          />
        </a>
        <a href="#"
          ><img src="./content/icons/share.svg" alt="share" class="nav__icon"
        /></a>
        <a href="#">
          <img
            src="./content/icons/search.svg"
            alt="search"
            class="nav__icon"
          />
        </a>
      </div>
    </div>
  </nav>