<div class="category">
  <div class="category__details selected">
    <div class="category__icon">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 3V5H16V3H8V5H6V3H4V21H6V19H8V21H16V19H18V21H20V3H18ZM8 17H6V15H8V17ZM8 13H6V11H8V13ZM8 9H6V7H8V9ZM18 17H16V15H18V17ZM18 13H16V11H18V13ZM18 9H16V7H18V9Z"
          fill="#000"
        />
      </svg>
    </div>

    <h3 class="category__name">Movies</h3>
    <div class="category__arrow">
      <svg
        width="4"
        height="6"
        viewBox="0 0 4 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.00001 0L0.295013 0.705L2.58501 3L0.295013 5.295L1.00001 6L4.00001 3L1.00001 0Z"
          fill="#828282"
        />
      </svg>
    </div>
  </div>
  <div class="category__content" id="movies__content">
    <a href="#"
      ><img
        src="./content/images/main-poster.png"
        alt="Featured movie"
        class="category__content-image"
    /></a>
    <div class="category__content-suggestions">
      <div class="suggestions__container">
        <h3 class="suggestion__heading">Best sellers</h3>
        <span class="line"></span>
        <a href="#" class="suggestion">The Hunger Games</a>
        <a href="#" class="suggestion">American Hustle</a>
        <a href="#" class="suggestion">Frozen</a>
        <a href="#" class="suggestion">Gravity</a>
      </div>
      <div class="suggestions__container">
        <h3 class="suggestion__heading">Drama</h3>
        <span class="line"></span>
        <a href="#" class="suggestion">The Departer</a>
        <a href="#" class="suggestion"
          >The Wolf of Wall Street</a
        >
        <a href="#" class="suggestion"
          >The Shawshank Redemption</a
        >
        <a href="#" class="suggestion"
          >Saving Private Ryan</a
        >
      </div>
      <div class="suggestions__container">
        <h3 class="suggestion__heading">SciFi/Fantasy</h3>
        <span class="line"></span>
        <a href="#" class="suggestion">Inception</a>
        <a href="#" class="suggestion">The Hobbit</a>
        <a href="#" class="suggestion"
          >The Empire Strikes Back</a
        >
        <a href="#" class="suggestion">The Dark Knight</a>
        <a href="#" class="suggestion"
          >Terminator 2: Judgement Day</a
        >
        <a href="#" class="suggestion">Jurassic Park</a>
        <a href="#" class="suggestion"
          >X-Men: First Class</a
        >
      </div>
    </div>
    <div class="category__next-content">
      <a href="#">
        <img
          src="./content/images/second-poster.png"
          alt="Next Movie"
          class="next-content__image"
        />
        <div class="next-content__banner">
          <img
            src="./content/images/banner.png"
            alt="banner"
            class="banner"
          />
      </a>
      </div>
    </div>
  </div>